.child,
.ellipseDiv,
.inner,
.item {
  position: absolute;
  top: calc(50% - 295.5px);
  left: calc(50% - 119.5px);
  border-radius: 50%;
  background-color: var(--color-plum);
  filter: blur(360px);
  width: 501px;
  height: 340px;
  opacity: 0.6;
}
.ellipseDiv,
.inner,
.item {
  top: calc(50% - 28.5px);
  left: calc(50% - 125.5px);
  background-color: var(--color-slateblue);
  width: 574px;
  height: 389px;
}
.ellipseDiv,
.inner {
  left: calc(50% - 400.5px);
  background-color: var(--color-plum);
  width: 501px;
  height: 340px;
}
.ellipseDiv {
  top: calc(50% - 344.5px);
  left: calc(50% - 487.5px);
  background-color: var(--color-slateblue);
  width: 574px;
  height: 389px;
}
.swap {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.settings04Icon {
  position: relative;
  width: 24.4px;
  height: 24px;
}
.swapParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.protocolIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.eth {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 28px;
}
.chevronDownIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.protocolIconParent {
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
  text-align: right;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.balance0 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.balance0Parent,
.frameDiv {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance0Parent {
  flex-direction: row;
  gap: var(--gap-9xs);
  font-size: var(--text-14-md-size);
  color: var(--surface-tint-64-d);
}
.frameDiv {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame,
.wrapper {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.frame {
  background-color: var(--surface-tint-16-d);
  color: var(--text-1-d);
}
.frameContainer,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--text-2-d);
}
.frameContainer {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-5xl);
}
.b,
.eth167771 {
  position: relative;
}
.b {
  background: conic-gradient(
    from 247.66deg at 50% 50%,
    rgba(255, 255, 255, 0) 0deg,
    #fff 0deg,
    rgba(255, 255, 255, 0) 360deg,
    #fff 360deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eth167771 {
  flex: 1;
  font-size: var(--text-14-md-size);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-family: var(--text-18-bd);
}
.parent {
  flex: 1;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.arrowDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowDownWrapper,
.frameParent3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.arrowDownWrapper {
  border-radius: var(--br-3xl);
  background-color: var(--surface-1-64-d);
  padding: var(--padding-5xs);
  align-items: flex-start;
}
.frameParent3 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--text-18-bd-size);
  font-family: var(--font-sf-pro-display);
}
.mdImageIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup,
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  padding: var(--padding-base);
  align-items: flex-start;
}
.frameGroup {
  align-items: flex-end;
  gap: var(--gap-5xs);
  font-size: var(--text-20-bd-size);
}
.connectWallet {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.connectWalletWrapper {
  align-self: stretch;
  border-radius: var(--br-xs);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #5a38a3,
    #683fab 31.77%,
    #9d52ff 68.23%,
    #edbcfc 96.35%
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  justify-content: center;
}
.div9,
.txCost {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.div9 {
  flex: 1;
  text-align: right;
}
.txCostParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.chevronRightIcon {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.ethParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.frameParent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--text-1-48-d);
}
.frameParent,
.iconButton {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.frameParent {
  position: absolute;
  top: 84px;
  left: 0;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--surface-1-64-d);
  backdrop-filter: blur(40px);
  border: 1px solid var(--surface-tint-16-d);
  width: 375px;
  height: 583px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iconButton {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  width: 36px;
  height: 36px;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  justify-content: center;
}
.swapSettings {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 28px;
}
.iconButton1,
.iconButtonParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconButton1 {
  border-radius: var(--br-xs);
  background-color: var(--surface-3-d);
  width: 36px;
  height: 36px;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  opacity: 0;
}
.iconButtonParent {
  align-self: stretch;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--text-20-bd-size);
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--surface-tint-16-d);
  box-sizing: border-box;
  height: 1px;
}
.frameChild,
.slippageTolerance {
  align-self: stretch;
}
.auto,
.slippageTolerance {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
  font-weight: 500;
}
.autoWrapper {
  border-radius: var(--br-xs);
  background-color: #8d3dff;
  box-shadow: var(--switch-shadow);
  width: 81.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* new */
.autoWrapper2 {
  border-radius: var(--br-xs);
  background-color: rgba(141, 61, 255, 0.16);
  box-shadow: var(--switch-shadow);
  width: 81.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.wrapper2 {
  color: var(--text-1-d);
}
.wrapper2,
.wrapper3 {
  flex: 1;
  border-radius: var(--br-xs);
  box-shadow: var(--switch-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.frameParent8,
.frameParent9 {
  display: flex;
  justify-content: flex-start;
}
.frameParent9 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--surface-tint-64-d);
}
.frameParent8 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.customParent,
.frameParent8,
.frameWrapper1 {
  flex-direction: row;
  align-items: center;
}
.frameWrapper1 {
  border-radius: var(--br-base);
  background-color: var(--surface-tint-d-8);
  width: 228px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  justify-content: flex-start;
  color: var(--surface-tint-64-d);
}
.customParent {
  align-self: stretch;
  gap: 47px;
}
.customParent,
.slippageToleranceParent,
.wrapper6 {
  display: flex;
  justify-content: flex-start;
}
.slippageToleranceParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.wrapper6 {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  width: 80px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
}
.minutes {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
  font-weight: 500;
  color: var(--text-1-d);
}
.frameParent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--surface-tint-64-d);
}
.frameParent7,
.inner1 {
  position: absolute;
  left: 0;
  width: 375px;
}
.frameParent7 {
  top: 255px;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--surface-1-64-d);
  box-shadow: var(--effect);
  border: 1px solid var(--surface-tint-16-d);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-13xl)
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.inner1 {
  top: 0;
  background-color: var(--color-gray-mobile-100);
  backdrop-filter: blur(80px);
  height: 667px;
  overflow: hidden;
  font-size: var(--text-16-md-size);
}
.protocolIconGroup {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
}
.protocolIconGroup,
.walletIconWrapper {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.frameParent11,
.horizaParent,
.walletIconWrapper {
  display: flex;
  flex-direction: row;
}
.frameParent11 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.horizaParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  padding: var(--padding-xl) var(--padding-base) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-5xl);
  /* font-family: var(--font-abc-ginto-plus-variable-unlicensed-trial); */
}
.div {
  position: relative;
  background-color: var(--surface-1-d);
  /* width: 100%; */
  width: 375px;
  height: 667px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-18-bd-size);
  color: var(--text-1-d);
  /* font-family: var(--text-18-bd); */
}
