.defaultASilhouetteDesignOfIcon {
  position: relative;
  width: 46px;
  height: 36px;
  object-fit: cover;
}
.govercity {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 28px;
}
.govercityLogo {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--text-20-bd-size);
}
.swap {
  color: var(--text-1-d);
}
.buy,
.swap {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.swapParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--color-gray-100);
}
.protocolIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.ethereum {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
  font-weight: 500;
}
.chevronDownIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.protocolIconParent {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wallet02Icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.connectWallet {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 22px;
}
.wallet02Parent {
  border-radius: var(--br-xs);
  background-color: #8d3dff;
  padding: var(--padding-2xs) var(--padding-5xl) var(--padding-2xs)
    var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
}
.frameParent,
.laptopHeader,
.wallet02Parent {
  display: flex;
  flex-direction: row;
}
.frameParent {
  width: 389px;
  align-items: flex-start;
  justify-content: space-between;
}
.laptopHeader {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-xs) 33px;
  align-items: center;
  justify-content: center;
  gap: 230px;
}
.swap1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.settings04Icon {
  position: relative;
  width: 24.4px;
  height: 24px;
}
.protocolIconGroup,
.swapGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.swapGroup {
  align-self: stretch;
  padding: 0 var(--padding-base);
  gap: var(--gap-13xl);
}
.protocolIconGroup {
  border-radius: var(--br-xs);
  overflow: hidden;
  padding: var(--padding-7xs) 0;
  gap: var(--gap-5xs);
}
.div {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
  text-align: right;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.balance0 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.balance0Parent,
.frameParent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance0Parent {
  flex-direction: row;
  gap: var(--gap-9xs);
  font-size: var(--text-14-md-size);
  color: var(--surface-tint-64-d);
}
.frameParent1 {
  flex-direction: column;
  gap: var(--gap-xs);
}
.wrapper,
.wrapper1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.wrapper1 {
  background-color: var(--surface-tint-16-d);
  color: var(--text-1-d);
}
.frameDiv,
.frameParent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent3 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--text-2-d);
}
.frameDiv {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-5xl);
}
.b,
.eth167771 {
  position: relative;
}
.b {
  background: conic-gradient(
    from 247.66deg at 50% 50%,
    rgba(255, 255, 255, 0) 0deg,
    #fff 0deg,
    rgba(255, 255, 255, 0) 360deg,
    #fff 360deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eth167771 {
  flex: 1;
  font-size: var(--text-14-md-size);
  letter-spacing: 0.02em;
  line-height: 20px;
  /* font-family: var(--text-16-bd); */
}
.parent {
  flex: 1;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.arrowDownWrapper,
.frameParent4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.arrowDownWrapper {
  border-radius: var(--br-3xl);
  background-color: var(--surface-1-64-d);
  padding: var(--padding-5xs);
  align-items: flex-start;
}
.frameParent4 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--text-18-bd-size);
  /* font-family: var(--font-sf-pro-display); */
}
.mdImageIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameContainer,
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  padding: var(--padding-base);
  align-items: flex-start;
}
.frameContainer {
  align-items: flex-end;
  gap: var(--gap-5xs);
  font-size: var(--text-20-bd-size);
}
.div8 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  text-align: right;
}
.frameParent7,
.txCostParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.txCostParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frameParent7 {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  padding: var(--padding-xs);
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--surface-tint-64-d);
}
.connectWallet1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.connectWalletWrapper {
  align-self: stretch;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  background-image: url(/public/frame-13213144001@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frameGroup {
  border-radius: var(--br-13xl);
  background-color: var(--surface-1-64-d);
  backdrop-filter: blur(40px);
  border: 1px solid var(--surface-tint-16-d);
  box-sizing: border-box;
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-18-bd-size);
}
.defaultASilhouetteDesignOfParent,
.frame {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-25xl);
}
.defaultASilhouetteDesignOfParent {
  background-color: var(--color-gray-new-200);
  backdrop-filter: blur(120px);
  flex-direction: row;
  padding: var(--padding-base) 0;
  gap: var(--gap-29xl);
}
.laptop {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-262xl);
  /* background-image: url(/public/laptop@3x.png); */
  background-image: url(/laptop@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--text-16-bd-size);
  color: var(--text-1-d);
  /* font-family: var(--text-16-bd); */
}
