.swap {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.settings04Icon {
  position: relative;
  width: 24.4px;
  height: 24px;
}
.swapParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.protocolIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.eth {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 28px;
}
.chevronDownIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.protocolIconParent {
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 32px;
  font-weight: 500;
  text-align: right;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.balance0 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.balance0Parent,
.frameDiv {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance0Parent {
  flex-direction: row;
  gap: var(--gap-9xs);
  font-size: var(--text-14-md-size);
  color: var(--surface-tint-64-d);
}
.frameDiv {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame,
.wrapper {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-base);
  align-items: center;
  justify-content: center;
}
.frame {
  background-color: var(--surface-tint-16-d);
  color: var(--text-1-d);
}
.frameContainer,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--text-2-d);
}
.frameContainer {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-5xl);
}
.b,
.eth167771 {
  position: relative;
}
.b {
  background: conic-gradient(
    from 247.66deg at 50% 50%,
    rgba(255, 255, 255, 0) 0deg,
    #fff 0deg,
    rgba(255, 255, 255, 0) 360deg,
    #fff 360deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eth167771 {
  flex: 1;
  font-size: var(--text-14-md-size);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-family: var(--text-16-bd);
}
.parent {
  flex: 1;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.arrowDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowDownWrapper,
.frameParent3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.arrowDownWrapper {
  border-radius: var(--br-3xl);
  background-color: var(--surface-1-64-d);
  padding: var(--padding-5xs);
  align-items: flex-start;
}
.frameParent3 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--text-18-bd-size);
  font-family: var(--font-sf-pro-display);
}
.mdImageIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup,
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  border-radius: var(--br-base);
  background-color: var(--surface-1-64-d);
  overflow: hidden;
  padding: var(--padding-base);
  align-items: flex-start;
}
.frameGroup {
  align-items: flex-end;
  gap: var(--gap-5xs);
  font-size: var(--text-20-bd-size);
}
.div8,
.txCost {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.div8 {
  flex: 1;
  text-align: right;
}
.frameParent6,
.txCostParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.txCostParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frameParent6 {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  overflow: hidden;
  padding: var(--padding-xs);
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--text-14-md-size);
  color: var(--surface-tint-64-d);
}
.connectWallet {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.connectWalletWrapper {
  align-self: stretch;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-21xl);
  align-items: center;
  justify-content: center;
  background-image: url(/public/frame-1321314400@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frameParent {
  position: absolute;
  top: 84px;
  left: 0;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  background-color: var(--surface-1-64-d);
  backdrop-filter: blur(40px);
  border: 1px solid var(--surface-tint-16-d);
  box-sizing: border-box;
  width: 375px;
  height: 583px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-18-bd-size);
}
.menu01Icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.defaultASilhouetteDesignOfIcon {
  position: relative;
  width: 46px;
  height: 36px;
  object-fit: cover;
}
.govercityLogo,
.protocolIconGroup {
  border-radius: var(--br-xs);
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
}
.govercityLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.protocolIconGroup {
  background-color: var(--surface-tint-d-8);
  gap: var(--gap-xs);
}
.frameParent7,
.protocolIconGroup,
.walletIconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.walletIconWrapper {
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
}
.frameParent7 {
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.govercityLogo1,
.headerTablet {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerTablet {
  top: 0;
  left: 0;
  width: 375px;
  padding: var(--padding-xl) var(--padding-base) 0;
  box-sizing: border-box;
}
.govercityLogo1 {
  top: 12px;
  left: 37px;
  border-radius: var(--br-xs);
  padding: var(--padding-3xs) var(--padding-base);
}
.swapwhite2Icon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.iconButton,
.iconButton1,
.iconButton2,
.iconButton3 {
  position: absolute;
  top: 0;
  left: 26px;
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.iconButton1,
.iconButton2,
.iconButton3 {
  top: 80px;
}
.iconButton2,
.iconButton3 {
  top: 160px;
}
.iconButton3 {
  top: 240px;
}
.buy,
.documentation,
.exchange,
.swap1 {
  position: absolute;
  top: 10px;
  left: 86px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.buy,
.documentation,
.exchange {
  top: 90px;
}
.documentation,
.exchange {
  top: 170px;
}
.documentation {
  top: 250px;
}
.iconButton4,
.iconButton5,
.iconButton6 {
  position: absolute;
  top: 8px;
  left: 48px;
  border-radius: var(--br-xs);
  background-color: var(--surface-tint-d-8);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.iconButton5,
.iconButton6 {
  left: 100px;
}
.iconButton6 {
  left: 152px;
}
.menuSidebar,
.options {
  position: absolute;
  left: 0;
  width: 208px;
  overflow: hidden;
}
.options {
  top: 465px;
  border: 1px solid var(--color-mediumpurple);
  box-sizing: border-box;
  height: 56px;
}
.menuSidebar {
  top: 146px;
  height: 521px;
  font-size: var(--text-16-bd-size);
}
.mobileSidebar,
.mobileSidebarBlinds {
  position: absolute;
  top: 0;
  left: 0;
  height: 667px;
  overflow: hidden;
}
.mobileSidebar {
  width: 208px;
  background-image: url(/public/mobilesidebar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mobileSidebarBlinds {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(175, 95, 255, 0.25);
  box-sizing: border-box;
  width: 375px;
}
.mobileSidebarFull {
  position: relative;
  width: 100%;
  height: 667px;
  overflow: hidden;
  background-image: url(/public/mobilesidebarfull@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--text-20-bd-size);
  color: var(--text-1-d);
  font-family: var(--text-16-bd);
}
