.aboutFormChild {
  position: absolute;
  top: 0;
  left: 261px;
  background-color: var(--color-slateblue);
  width: 1px;
  height: 544px;
}
.aboutUs {
  margin: 0;
  font-weight: 600;
}
.blankLine {
  margin: 0;
}
.aboutUsAtContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 700px;
  height: 400px;
}
.aboutBody {
  top: 85px;
  left: 306px;
  width: 700px;
  height: 400px;
}
.aboutBody,
.aboutForm,
.aboutformContainer {
  position: absolute;
  overflow: hidden;
}
.aboutForm {
  height: 74.97%;
  top: 12.54%;
  bottom: 12.49%;
  left: calc(50% - 512.2px);
  border-radius: var(--br-base);
  background-color: var(--color-black);
  border: 1px solid var(--color-slateblue);
  box-sizing: border-box;
  width: 1024px;
}
.aboutformContainer {
  top: 59px;
  left: calc(50% - 676px);
  background-color: var(--color-gray-1000);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1352.4px;
  height: 725.66px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--text-3-d-p);
  font-family: var(--font-poppins);
}
