.atGovercityWe {
  position: relative;
  display: inline-block;
  width: 347px;
  flex-shrink: 0;
}
.sampleText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aug20,
.checkDoubleIcon {
  position: relative;
  flex-shrink: 0;
}
.aug20 {
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  width: 38px;
  height: 10px;
}
.checkDoubleIcon {
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.deliveryNotification,
.textCardReceiver {
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) 0;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-5xs);
  font-family: var(--font-roboto-mono);
}
.textCardReceiver {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-300);
  width: 365px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--text-14-md-size);
  color: var(--text-3-d-p);
  font-family: var(--font-poppins);
}
